<div class="wrapper">
    <div class="topImg">
        <img src="\assets\img\abouttop.jpeg" alt="" width="60%" height="300px">
    </div>
    <div class="dep1">
        <img src="/assets/img/shop1.jpg" alt="Wewaldeniya Town Image" width="500px">
        <p>
            CeylonMart is a family-run business based in Wewaldeniya, Sri Lanka, specializing in handcrafted
            cane products. We are passionate about preserving the heritage of Sri Lankan cane weaving and bringing
            beautiful, functional pieces to your home.
            The enchanting town of Wewaldeniya is synonymous with exquisite cane products. Indeed the name ‘Wewaldeniya’
            itself gives a hint about what one can expect when entering its territories! ‘Wewal’ in Sinhala means cane,
            and this charming little town proudly lives up to its reputation!
            As you are traveling to Kandy from Colombo you will come across rows and rows of small wayside shops selling
            a staggering variety of cane products. Stop by to have a look and you will truly be enchanted! Here in
            Wewaldeniya you will find flower pots, purses and string hopper moulds are sold for cheap prices. Also
            varieties of laundry baskets, storage baskets made from high quality cane and many more sold at reasonable
            prices. You will even find large cane creations like sofasets, coffee tables, lampshades as well as book
            racks! If you have a way of transporting items that you buy here, do go ahead and splurge a little and you
            will not regret it! Quite a few of large scale manufacturers have started supplying their products to luxury
            hotels and resorts in Colombo as well. So you know products that you get here are of superior quali

        </p>
    </div>
    <div class="dep2">
        <img src="/assets/img/shop2.jpg" alt="Cane Product Making Image" width="500px">
        <p>
            We offer a wide range of cane products, from classic furniture sets like chairs, tables, and sofas to
            decorative items like baskets, trays, and wall hangings. We can also work with you on custom designs to
            create the perfect piece for your specific needs.
            We believe that our products are more than just furniture; they are pieces of Sri Lankan heritage. By
            choosing [Your Business Name], you are not only investing in a beautiful and functional item, but you are
            also supporting local artisans and keeping this traditional craft alive.
            <span>
                <img src="/assets/img/making.jpg" alt="Cane Product Making Image" height="200px">
                <img src="/assets/img/making1.jpg" alt="Cane Product Making Image" height="200px">
                <img src="/assets/img/loc.jpg" alt="Cane Product Making Image" height="200px">
            </span>
        </p>

    </div>
    <div class="dep3">
        <iframe frameborder="0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7917.002094776018!2d80.13748524134877!3d7.183523621286114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae31d1e29026ab7%3A0xd720f2f224a7e002!2sRadawadunna!5e0!3m2!1sen!2slk!4v1713601397861!5m2!1sen!2slk"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>


    <div class="chatbotd">
        <div class="view"> <app-chat-bot></app-chat-bot></div>
    </div>


</div>