.nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.page{ 
    /* padding-left: 5px;
    padding-right: 5px; */
    position: relative;
    /* top: 70px; */
   padding-top: 80px;  
}
.footer{
    padding-left: 5px;
    padding-right: 5px; 
    padding-bottom: 5px;
}
.chatbot{
    position: absolute;
    right: 10px;
    z-index: 2;
}