<div class="header">
    <div class="topBar">
        <div class="socilaMedia">
            <ul>
                <li><a href="google.com" aria-label="whatsapp"><img src="/assets/sm/whatsapp.png" alt=""
                            width="20px"></a>
                </li>
                <li><a href="#" aria-label="mail"><img src="/assets/sm/mail.png" alt="" width="20px"></a></li>
                <li><a href="#" aria-label="youtube"><img src="/assets/sm/youtube.png" alt="" width="20px"></a></li>
                <li><a href="#" aria-label="facebook"><img src="/assets/sm/facebook.png" alt="" width="20px"></a></li>
                <li><a href="#" aria-label="pinterest"><img src="/assets/sm/pinterest.png" alt="" width="20px"></a></li>
            </ul>
            <!-- <p>{{today | date:'yyyy:mm:dd':'+0530'}}</p> -->
        </div>
        <a class="notification"><img src="/assets/icon/notification.png" alt="" height="25px"></a>
        <app-register></app-register>
        <a (click)="openDialog()">My Orders</a>
        <a><app-terms-and-condition /></a>
        <span> </span>
    </div>
    <nav>
        <div class="left">
            <div class="logo">
                <img src="/assets/logo.png" alt="" height="65px">
            </div>
        </div>
        <div class="center">
            <div class="search">
                <input type="search" name="" id="" placeholder="Search here....">
                <button type="button" name="search">
                    <img src="/assets/icon/lence.png" alt="" width="20px">

                </button>
            </div>

        </div>
        <div class="right">
            <div class="link ">
                <a id="hm" routerLink="/home" #element>Home</a>
                <p>|</p>
                <a routerLink="/store" #element>Store</a>
                <p>|</p>
                <a routerLink="/custom" #element>Customize</a>
                <p>|</p>
                <a routerLink="/aboutus" #element>About Us</a>
                <a *ngIf="userName" id="unme">{{userName}}</a>
                <!-- <a  > <app-register></app-register></a> -->
                
            </div>
            <button class="btnLogin" *ngIf="userName" (click)="logout()" >Logout</button>
            <button class="btnLogin" *ngIf="userName==null">
                <app-login></app-login>
            </button>

        </div>
    </nav>
</div>