<div class="wrapper">
    <div class="header">
        <div><img src="/assets/logoC.png" alt="" height="30px"></div>
        <!-- <h2>Welcome to CeylonMart!</h2> -->
        <h3>Terms and Conditions</h3>
    </div>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;These Terms and Conditions govern your use of the CeylonMart website and the
        services
        offered by CeylonMart. By accessing or using the Website, you agree to be bound by these Terms.
        If
        you disagree with any part of the Terms, then you may not access or use the Website or Services.
    </p>
    <div class="content">

        <p>
            1. Products and Services::<br>

            CeylonMart offers a variety of rattan furniture and related products for purchase online.
            Additionally, we offer customization options for some products.
        </p>

        <p>
            2. Orders::<br>

            To place an order, you must be 18 years of age or older.
            You agree to provide accurate and complete information when placing an order.
            CeylonMart reserves the right to cancel or modify orders at any time due to product availability, pricing
            errors, or other unforeseen circumstances.
        </p>
        <p>
            3. Customization::<br>

            When customizing a product, you acknowledge that lead times may be longer than standard products.
            We will clearly communicate any additional costs associated with customization.
            Finalized customization details cannot be changed once production begins.
        </p>
        <p>
            4. Payment::<br>

            CeylonMart accepts various payment methods as displayed on the Website.
            Payment must be made in full before your order is processed.
            You are responsible for any taxes or import duties associated with your order.
        </p>
        <p>
            5. Shipping and Delivery::<br>

            Shipping costs will be calculated based on your order and location.
            Estimated delivery times will be provided at checkout and may vary depending on your location and chosen
            shipping method.
            CeylonMart is not responsible for delays caused by customs clearance or unforeseen circumstances.
        </p>
        <p>
            6. Returns and Refunds::<br>

            You may return standard, non-customized products within [Number] days of receipt, subject to certain
            conditions.
            Please refer to our Return Policy for details.
            Customized products are generally not eligible for return or refund. Exceptions may be made on a
            case-by-case
            basis.
            All returned products must be in original condition and packaging.
            You are responsible for the cost of return shipping.
        </p>

        <p>
            7. Limitation of Liability::<br>

            CeylonMart will not be liable for any damages arising out of your use of the Website or Services.
            This includes, but is not limited to, damages for loss of profits, data loss, business interruption, or
            personal
            injury.
        </p>
        <p>
            8. Governing Law::<br>

            These Terms will be governed by and construed in accordance with the laws of Sri Lanka.
            Any dispute arising out of or relating to these Terms will be subject to the exclusive jurisdiction of the
            courts of Sri Lanka.
        </p>
        <p>
            9. Entire Agreement::<br>

            These Terms constitute the entire agreement between you and CeylonMart regarding your use of the Website and
            Services.
            Any prior or contemporaneous agreements are superseded by these Terms.
        </p>
        <p>
            10. Changes to Terms::<br>

            CeylonMart reserves the right to change these Terms at any time.
            The revised Terms will be effective immediately upon posting on the Website.
            You are encouraged to review the Terms periodically for any updates.
        </p>
        <p>
            11. Contact Us::<br>ceylonmart@gmail.com <br>011-22 33 761
        </p>
    </div>
</div>