<footer>

    <div class="socilaMedia">
        <ul>
            <li><a href="google.com" aria-label="whatsapp"><img src="/assets/sm/whatsapp.png" alt="" width="30px"></a>
            </li>
            <li><a href="#" aria-label="mail"><img src="/assets/sm/mail.png" alt="" width="30px"></a></li>
            <li><a href="#" aria-label="youtube"><img src="/assets/sm/youtube.png" alt="" width="30px"></a></li>
            <li><a href="#" aria-label="facebook"><img src="/assets/sm/facebook.png" alt="" width="30px"></a></li>
            <li><a href="#" aria-label="pinterest"><img src="/assets/sm/pinterest.png" alt="" width="30px"></a></li>
        </ul>
     </div>
    <div class="Links">
        <div class="quickLinks">
            <h3>Quick Links</h3>

            <a href="">Home</a>
            <a href="">Store</a>
            <a href="">About Us</a>

        </div>
        <div class="quickLinks">
            <h3>Quick Links</h3>
            <a (click)="openDialog()">Login</a>
            <a href="">Store</a>
            <a href="">About Us</a>
        </div>
        <div class="quickLinks">
            <h3>Quick Links</h3>
            <a href="">Home</a>
            <a href="">Store</a>
            <a href="">About Us</a>

        </div>

    </div>
    <div class="rate">
        <app-rating />
    </div>

    <div class="logo">
        <img src="assets/logo.png" alt="logo" width="180px">
    </div>
</footer>