<div class="welComeCard">
    <div class="c2">
        <div class="whiteLine"> .</div>
        <h1>Arrange </h1>
        <h2>Your surround with</h2>
        <h3>CeylonMart products</h3>
        <button routerLink="/store">Visit Store</button>
    </div>
    <div class="c1">
        <div class="card">
            <div class="content">
                <div class="title">Home premium</div>
                <div class="price">500,000 LKR</div>
                <div class="description"> This package include <br>Living room <br>  3-Bedrooms <br>Kitchen </div>
            </div>
            <button >
                Buy now
            </button>
        </div>
    </div>


    <div class="welcomImg">
        <div class="imgDark">

        </div>
        <img src="\assets\img\homeWall.jpg" alt="" width="250px">
    </div>



</div>